.aboutLinks a {
  display: flex;
  color: var(--foreground);
  align-items: center;
  font-size: 1.25em;
}

.aboutLinks svg {
  margin-right: 0.5em;
  font-size: 1.5em;
}

.about h3 {
  margin-top: 1.75em;
}

.about {
  position: relative;
  z-index: 2;
  box-shadow: 0px -12px 20px black;
}

.interestsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.interestBlock {
  max-width: 360px;
}

.aboutLinks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}