.certOrg {
  font-size: 12px;
  font-weight: 600;
}

.certName {
  font-size: 14px;
}

.certLogo {
  background: linear-gradient(
    to bottom,
    var(--primary-dark),
    var(--primary-dark),
    var(--primary-light)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 148px;
  height: 148px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--primary-dark);
  border: 2px solid var(--primary-color);
}
