.footer {
  color: var(--white);
  background-color: var(--primary-dark);
  padding-top: 4em;
  text-align: center;
}

.footer a {
  color: var(--white);
}

.subfooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 1px solid white
}

.subfooter div {
  min-width: 6em;
  margin: 1em;
  flex-grow: 1
}

.disclaimer {
  text-align: right;
}

.acknowledgements {
  text-align: left;
}

@media (max-width: 992px) {
  .disclaimer, .acknowledgements {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .subfooter {
    padding-bottom: 4em;
  }
}
