.intro {
    height: calc(100vh - 56px);
    background-color: var(--black);
    padding: 8px;
    align-items: center;
    position: relative;
    z-index: -1;

    @media only screen and (min-width: 600px) {
        height: 100vh;
    }
}

.introCard svg {
    color: var(--primary-color);
}

.introCard h1 {
    text-align: center;
}

.introCard h2 {
    text-align: center;
}

.introCard p {
    text-align: center;
}

@keyframes arrow-pulse-down {
    0% {
        bottom: 30px;
        opacity: 0;
    }
    100% {
        bottom: -10px;
        opacity: 1;
    }
}

.arrowPulseDown {
    color: var(--white);
    position: absolute;
	margin: 0 auto;
	left: 0; right: 0;
	font-size: 6em;
	animation: arrow-pulse-down 2500ms linear infinite;
}