.intro svg {
    color: var(--primary-color);
}

.intro h1 {
    text-align: center;
}

.intro h2 {
    text-align: center;
}

.intro p {
    text-align: center;
}

@keyframes arrow-pulse-down {
    0% {
        bottom: 50px;
        opacity: 0;
    }
    100% {
        bottom: -10px;
        opacity: 1;
    }
}

.arrowPulseDown {
    color: var(--white);
    position: absolute;
	margin: 0 auto;
	left: 0; right: 0;
	font-size: 6em;
	animation: arrow-pulse-down 2500ms linear infinite;
}