@import "tailwindcss";

:root {
  --white: #ffffff;
  --grey: #403c3c;
  --dark-grey: #282828;
  --black: #171717;

  --primary-color: #007ab8;
  --primary-dark: #196db2;
  --primary-light: #5fb5f6;

  --background: var(--white);
  --foreground: var(--black);

  --section-background: var(--primary-color);
  --surface-background: var(--white);
  --surface-shadow:
    0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  --toolbar-background: var(--primary-color);

  @media (prefers-color-scheme: dark) {
    --background: var(--black);
    --foreground: var(--white);

    --section-background: var(--dark-grey);
    --surface-background: var(--grey);
    --toolbar-background: var(--dark-grey);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  margin: 0;
}

/** MUI Overrides */
div.MuiPaper-root {
  color: var(--foreground);
}

div.MuiPaper-root {
  background-color: var(--surface-background);
}

/** Typogrpah */
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h2 {
  font-weight: 300;
  font-size: 3.25rem;
}

h3,
.h3 {
  font-weight: 400;
  font-size: 1.35rem;
}

h4,
.h4 {
  font-weight: 400;
  font-size: 1.15rem;
}

h5,
.subtitle1 {
  font-weight: 700;
  font-size: 1rem;
}

h6,
.subtitle2 {
  font-weight: 500;
  font-size: 1rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a {
  color: var(--primary-color);
  &:hover {
    color: var(--primary-dark);
  }
}

/** Styled Components */
.card {
  border-radius: 8px;
  background-color: var(--surface-background);
  box-shadow: var(--surface-shadow);
}

section {
  display: flex;
  justify-content: center;
}

.section {
  padding: 4em 0;
}

.section:nth-child(odd) {
  background-color: var(--section-background);
  .MuiPaper-root {
    background-color: var(--background);
  }
  .MuiTimelineOppositeContent-root {
    color: var(--white);
  }
  div > h2,
  a {
    color: var(--white);
  }
}
