.appBar {
  box-shadow: var(--surface-shadow);
  background: var(--toolbar-background) !important;
  display: none;
  transition: top 0.3s !important;
  position: fixed;
  z-index: 1100;
  top: 0;
  left: auto;
  right: 0;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .appBar {
    display: flex;
  }
}

.navList {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 2em 0;
}

.navLink {
  font-size: 1.25em;
  font-weight: 500;
  margin: 1em;
  color: var(--white);
  text-underline-offset: 4px;
  text-decoration-color: rgba(25, 118, 210, 0.4);
}

.navLink:hover {
  text-decoration-color: inherit;
}
