
.about {
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    background-position: center center;
    background-size: cover;
    color: white;
    text-align: center;
}

.headshot {
    width: 250px;
    height: auto;
    margin: 0 auto;
}

.icon {
    width: 50px;
    height: auto;
    margin: 1em;
}