.appBar {
  background: var(--toolbar-background) !important;
}

@media only screen and (max-width: 600px) {
  .appBar {
    display: none;
  }
}

.navList {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 2em 0;
}

.navLink {
  font-size: 1.25em;
  font-weight: 500;
  margin: 1em;
  color: var(--white);
  text-underline-offset: 4px;
  text-decoration-color:rgba(25, 118, 210, 0.4);
}

.navLink:hover {
  text-decoration-color: inherit;
}