.companyLogo {
  display: flex;
  margin-right: 0.5em;
  width: 2.25em;
  height: 2.25em;
  background-color: white;
  padding: 0.5em;
  border-radius: 2.25em;
  align-self: center;

  @media (min-width: 768px) {
    display: none;
  }
}

.companyDateMobile {
  margin-top: 0.25rem;
  @media (min-width: 768px) {
    display: none;
  }
}