.companyLogo {
  display: flex;
  margin-right: 0.5em;
  width: 2.25em;
  height: 2.25em;
  background-color: white;
  padding: 0.5em;
  border-radius: 2.25em;
  align-self: center;

  @media only screen and (min-width: 600px) {
    display: none;
  }
}

.companyDateMobile {
  @media only screen and (min-width: 600px) {
    display: none;
  }
}